@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  margin: 0 auto;
  max-width: 1074px;
  font-family: 'Work Sans', sans-serif;
}

a {
  text-decoration: none; 
  color: #FC511C;
  font-weight: bold; 
  transition: all 1s; 
}

a:hover {
  color: orange; 
  text-shadow: 3px 2px #eee; 
}

h1 {
  color: white; 
  /* font-weight: bold;  */
  font-weight: 100;
  transition: all .1s;
  font-size: 45px;
  background-color: #FC511C;
  padding-left: 2px;
}

h2 {
  color: white; 
  color: #FC511C; 
  padding-left: 2px;
}

h3,
h4 {
  color: #FC511C; 
  font-weight: bold; 
  transition: all 0.5s;
}

h3:hover,
h4:hover {
  transform: scale(1.12);
  text-shadow: 2px 12px 13px #333;
}

.fade-text {
  animation-name: fade; 
  animation-duration: 3s; 
}

.hover:hover {
  color: orange; 
  text-shadow: 3px 2px #eee; 
}

.logo {
  height: 60px;
  width: 60px; 
  padding: 1em; 
  transition: all 0.5s;
}

.logo:hover {
  transform: scale(1.4) rotate(5deg);
}

.react {
  position: relative;
  top: 7px;
}

.content {
  margin: auto;
}

.img {
  background: url('https://cdn5.vectorstock.com/i/1000x1000/41/89/hypnotic-spiral-vector-18474189.jpg');
  background-size: cover; 
  background-color: #FD774D;
  background-blend-mode: multiply;
  z-index: 800;
  transition: all 2s;
  height: 300px; 
  width: 300px;
  border-radius: 50%;
  margin: auto; 
}

.img:hover {
  transform: scale(1.5) rotate(360deg);
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
}

.centered {
  text-align: center;
}

#jag {
  position: relative; 
  top: 10%;
  left: 17%;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ************************************************** 
    KEYFRAMES 
 ************************************************** */
  @keyframes fade {
    from {opacity: 0;}
      to {opacity: 1;}
  }


/* ************************************************** 
    MEDIA QUERIES
 ************************************************** */


@media screen and (max-width: 320px) {

    .title {
      margin-top: 313px;
    }
}

@media screen and (max-width: 450px) {
    .logo {
    height: 40px;
    width: 40px; 
    padding: 1em; 
    transition: all 1s;
  }
}

@media screen and (max-width: 450px) {
  
  
  .content {
    order: 2;
    padding-left: 1em;
    padding-right: 1em;
  }

  #om-mig {
    text-align: center;
  }
  .img {
    order: 1;
    width: 272px;
  }
  #jag {
    top: 4%;
    left: 15%;
  }

  .title {
      margin-top: 283px;
  }

  .logo-wrapper:nth-child(firs) {
      padding-left: 53px;
    }
  

   /* .logo:nth-child(3) {
    padding-left: 58px;
  } 

  .logo:nth-child(5) {
    padding-left: 54px;
  } 
   */

  /* #sprak {
    text-align: center; 
  } */

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
